.malp_svg {
    width: 100%;
    position: absolute;
    z-index: -1;
}
.input-name {
    background: #0000 !important;
    text-align: center;
    top: 25rem;
    width: 100%;
    position: absolute;
}
.ui.input {
    width: 23%;
}
.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
    padding: 17px 9px !important;
}
.container {
    position: absolute;
    top: 16rem;
    width: 100%;
    text-align: center;
}
.ui.dropdown>.text {
    display: inline-block;
    transition: none;
    top: 5px;
    position: relative;
    margin: 0px 5px;
}
.ui.input>input {
    padding: 15px 1em !important;
    border: 0px solid #22242626;
}